.container {    
    background-color: #A27B5C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 200px;
    margin: auto;
    border-style: none;
    border-radius: 40px;
    margin-bottom: 30px;

}

.avatar {
    width: 150px;
    height: 150px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-style: none;
    border-radius: 48%;
}